.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 50px;
    margin: 0 auto;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 2px 7px 0 rgba(104,103,103,0.16);
    border-radius: 23px;
}
.menu {
    background: #808080;
    left: -80px;
    height: 100%;
    position: fixed;
    width: 80px;
    color: white;
}


.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {

}

.menu li:hover {
    cursor: pointer;
    background-color: #555;
}

.menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 6px;
}

.icon-menu {
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-menu span {
    color:gray;
}
#loginForm .input-group-prepend {
    padding-top: 10px;
}
#loginForm .input-group-text {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    border: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
#loginForm .input .placeholder {
    font-size: 12px;
    text-align: left;
    display:none;
}
#loginForm .input .active {
    display:block;
}
.blueBackground {
    background-color: rgba(35,44,62,1);
    width: 100%;
    height: 163px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.autn-title {
    color: rgba(255,255,255,1);
    font-size: 25px;
    font-weight: bold;
    line-height: 29px;
    padding-top: 50px;
    padding-bottom: 35px;
    width: 100%;
    max-width: 330px;
    margin: 0 auto;;
}