.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 50px;
    margin: 0 auto;
    background-color: rgba(255,255,255,1);
    box-shadow: 0 2px 7px 0 rgba(104,103,103,0.16);
    border-radius: 23px;
}
.menu {
    background: #808080;
    left: -80px;
    height: 100%;
    position: fixed;
    width: 80px;
    color: white;
}


.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {

}

.menu li:hover {
    cursor: pointer;
    background-color: #555;
}

.menu a {
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-close {
    cursor: pointer;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 6px;
}

.icon-menu {
    color: #fff;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-top: 25px;
    text-decoration: none;
    text-transform: uppercase;
}

.icon-menu span {
    color:gray;
}
#loginForm .input-group-prepend {
    padding-top: 10px;
}
#loginForm .input-group-text {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 0px;
    margin: 0px;
    border: none;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
#loginForm .input .placeholder {
    font-size: 12px;
    text-align: left;
    display:none;
}
#loginForm .input .active {
    display:block;
}
.blueBackground {
    background-color: rgba(35,44,62,1);
    width: 100%;
    height: 163px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.autn-title {
    color: rgba(255,255,255,1);
    font-size: 25px;
    font-weight: bold;
    line-height: 29px;
    padding-top: 50px;
    padding-bottom: 35px;
    width: 100%;
    max-width: 330px;
    margin: 0 auto;;
}
.MenuButton, .NewOrder, .NewUser {
    position: fixed;
    bottom: 30px;
    right: 30px;
}
.NewOrder, .NewUser {
    z-index: 5;
}
.NewUser {
    bottom: 100px;
}
#newClientDiv {
    margin-bottom: 40px;
    margin-top: 40px;
}
#productsList .row .col-sm-6 {
    margin-top: 20px;
    display: initial;
}
.nav-fill .active::after {
    display: block;
    content: "";
    height: 4px;
    text-align: center;
    width: 100%;
    background-color: #1557E3;
    border-radius: 5px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 2;
}
.custom-select {
    border-radius: 21.5px;
}
.nav-fill {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: -4px;
}
.container {
    padding-top: 10px;
}
.blueMiniBackground {
    background-color: rgba(35,44,62,1);
    width: 100%;
    height: 65px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.slick-dots {
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
}
.slick-dots button {
    box-sizing: border-box;
    border: 1px solid #B8B8B8;
    height: 16px;
    width: 16px;
    background: white;
    border-radius: 50%;
    margin: 10px;
}
.slick-dots li {
    display: inline-block;
}
.slick-dots .slick-active button {
    background-color: #1557E3;
    border: 1px solid #1557E3;
}
input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}